form {
  font-family: serif;
  h2 {
    color: #eee;
    font-size: 1.75rem;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  label {
    text-transform: uppercase;
  }
  .hint-block {
    color: #fff;
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 0.25rem;
  }
  p {
    color: #fff;
  }
  .btn {
    font-family: sans-serif;
  }
  .field-event-price {
    &:before {
      position: relative;
      top: 31px;
      left: 0.5rem;
      content: "$";
      color: #000;
    }
    input {
      padding-left: 1.5rem;
    }
  }
  select.form-control {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
  .field-event-message {
    opacity: 0;
    position: absolute;
    z-index: -1;
    height: 0;
  }
  .help-block {
    color: #FFCCCC;
  }
}
